@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}
/* Prevent horizontal scroll globally */
html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
/* Prevent horizontal scroll on the body */